/*
 * Maker card styles
 */

.root {
  position: relative;
  margin: 0 auto 2rem;
  background: $grey3;
  border-radius: 1rem;
  width: 100%;
  max-width: 26rem;
  min-height: 20rem;
  padding: 2rem 1rem;
  button:not(.button) {
    display: none;
    text-align: center;
  }
}

.avatar {
  height: 8rem;
  width: 8rem;
  margin: auto;
  position: static;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  div {
    font-size: 2.5rem;
  }
}

.button {
  margin: 2rem 0 0;
  text-align: center;
  display: inline-block;
}

.maker {
  h1 {
    line-height: 1.2;
    font-weight: 400;
    margin: 2rem 0 0;
  }
  h3 {
    color: $white;
    font-size: 1.25rem;
    margin: 0.75rem 0 0;
  }
  i {
    font-size: 0.8em;
    margin-right: 0.5rem;
  }
}

.game {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 0;
  text-align: center;
  & > *:not(.overlay) {
    z-index: 10;
  }
  h1 {
    margin: 0 0 0.75rem;
    font-weight: 400;
  }
  i {
    color: $grey4;
    margin-right: 0.5rem;
  }
  p {
    margin: 0;
    color: $grey4;
    font-size: 1.25rem;
    &:not(:first-of-type) {
      margin-top: 0.5rem;
    }
  }
}

.platforms {
  margin-top: 1.5rem;
  i {
    color: $white;
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: $grey3;
  opacity: 0.65;
}

@media (max-width: $md) {
  .game {
    background-image: none !important;
    background-color: $grey3;
  }
  .platforms {
    display: none;
  }
}

@media (min-width: $sm) {
  .maker h1 {
    font-size: 1.6rem;
  }
}

@media (min-width: $md) {
  .root,
  .maker,
  .game {
    min-height: 10rem;
  }
  .root {
    border-radius: 0;
    max-width: none;
    margin-bottom: 1.5rem;
    padding: 0;
    &:hover,
    &:focus {
      button:not(.button) {
        width: 2.8rem;
        background: $yellow;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
      }
    }
    button:not(.button) {
      display: block;
      width: 2.5rem;
      z-index: 20;
      top: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background: $yellow2;
      transition: all 0.25s ease-out;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      i {
        color: $grey1;
        margin: 0;
      }
    }
  }
  .flex {
    display: flex;
    padding-right: 2.5rem;
  }
  .overlay {
    display: block;
  }
  .button {
    padding: 0.75rem 2rem;
    margin: 0 1rem;
    min-width: 12rem;
  }
  .avatar {
    height: 80px;
    width: 80px;
    margin-right: 2rem;
    div {
      font-size: 1.75rem;
    }
  }
  .maker,
  .game {
    width: auto;
    display: inline-flex;
    padding: 1rem 1.5rem 1rem 2rem;
    text-align: left;
  }
  .maker {
    flex-basis: 20rem;
    align-items: center;
    h1 {
      font-size: 1.3rem;
      margin: 0;
    }
    h3 {
      font-size: 1.15rem;
    }
  }
  .game {
    flex: 1;
    z-index: 10;
    align-items: center;
    background-color: #101010;
    justify-content: space-between;
    p {
      font-size: 1.25rem;
      margin: 0;
      &:first-of-type {
        color: $white;
      }
      &:not(:first-of-type) {
        font-size: 1.15rem;
        margin-top: 1rem;
      }
    }
  }
}

@media (min-width: $lg) {
  .game,
  .maker {
    padding: 1rem 1.5rem 1rem 2.5rem;
  }
  .maker {
    flex-basis: 22rem;
    h1 {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: $xl) {
  .maker {
    flex-basis: 24rem;
  }
}
